<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DXServiceHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DXServiceHelper.Properties.Settings>
            <setting name="DXServiceHelper_DXService_DXSampleWebService"
                serializeAs="String">
                <value>http://localhost:1031/DXSampleWebService.asmx</value>
            </setting>
        </DXServiceHelper.Properties.Settings>
    </applicationSettings>
</configuration>